USE [master]
GO
/****** Object:  Database [HTKT]    Script Date: 16/05/2018 6:30:50 PM ******/
CREATE DATABASE [HTKT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTKT', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\HTKT.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HTKT_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\HTKT_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HTKT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HTKT]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 16/05/2018 6:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [varchar](1) NOT NULL,
	[MSHH] [varchar](1) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MSHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 16/05/2018 6:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CuaHang](
	[MSCH] [varchar](1) NOT NULL,
	[TenCH] [nvarchar](1) NULL,
	[DiaChi] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 16/05/2018 6:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MSHH] [varchar](1) NOT NULL,
	[TenHang] [nvarchar](1) NULL,
	[DonViTinh] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 16/05/2018 6:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](1) NOT NULL,
	[ThueSuat] [float] NULL,
	[NgayThanhToan] [datetime] NULL,
	[MSCH] [varchar](1) NULL,
	[MSKH] [varchar](1) NULL,
	[Soseri] [varchar](1) NULL,
	[type] [int] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 16/05/2018 6:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MSKH] [varchar](1) NOT NULL,
	[HoTenKhach] [nvarchar](1) NULL,
	[DiaChiKhach] [nvarchar](1) NULL,
	[MaSoThue] [nvarchar](1) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuThuChi]    Script Date: 16/05/2018 6:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuThuChi](
	[MaPC] [varchar](1) NOT NULL,
	[NgayChi] [datetime] NULL,
	[SoTienChi] [money] NULL,
	[type] [int] NULL,
	[MSKH] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MSHH])
REFERENCES [dbo].[HangHoa] ([MSHH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MSCH])
REFERENCES [dbo].[CuaHang] ([MSCH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MSKH])
REFERENCES [dbo].[KhachHang] ([MSKH])
GO
ALTER TABLE [dbo].[PhieuThuChi]  WITH CHECK ADD FOREIGN KEY([MSKH])
REFERENCES [dbo].[KhachHang] ([MSKH])
GO
USE [master]
GO
